@import "global-variables";

:host {
  @include design-item-view;
  flex-flow: row;
  justify-content: space-evenly;
  background-color: #ecf0f3;
}

div.radio-group {
  $color-aqua: #ecf0f3;
  $color-shadow: #d1d9e6;

  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: $color-aqua;
  box-shadow: 4px 4px 4px 0 $color-shadow inset, -4px -4px 4px 0 white inset;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;

  & > div.wrapper {
    & > input[type="radio"] {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 1e-5;
      pointer-events: none;

      &:checked ~ label > span.indicator::after {
        transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
        opacity: 0;
      }

      &:focus ~ label > span.text {
        transform: translate3d(8px, 0, 0);
        opacity: 1;
      }
    }

    & > label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      color: #394a56;

      & > span.indicator {
        position: relative;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        box-shadow: -8px -4px 8px 0 white,
        8px 4px 12px 0 $color-shadow;
        overflow: hidden;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 10%;
          left: 10%;
          height: 80%;
          width: 80%;
          border-radius: 50%;
        }

        &::before {
          box-shadow: -4px -2px 4px 0 $color-shadow,
          4px 2px 8px 0 white;
        }

        &::after {
          background-color: $color-aqua;
          box-shadow: -4px -2px 4px 0 white,
          4px 2px 8px 0 $color-shadow;
          transform: scale3d(1, 1, 1);
          transition: opacity .25s ease-in-out, transform .25s ease-in-out;
        }
      }

      & > span.text {
        margin-left: 1rem;
        opacity: 0.6;
        transition: opacity 0.2s linear, transform 0.2s ease-out;
      }

      &:hover > span.text {
        opacity: 1;
      }
    }
  }
}
