<div class="radio-group">
  <div class="wrapper">
    <input
      type="radio"
      name="radioButtonGroup"
      id="a"
      value="a"
    >
    <label for="a">
      <span class="indicator"></span>
      <span class="text">
        close
      </span>
    </label>
  </div>
  <div class="wrapper">
    <input
      type="radio"
      name="radioButtonGroup"
      id="b"
      value="b"
    >
    <label for="b">
      <span class="indicator"></span>
      <span class="text">
        remove
      </span>
    </label>
  </div>
  <div class="wrapper">
    <input
      type="radio"
      name="radioButtonGroup"
      id="c"
      value="c"
    >
    <label for="c">
      <span class="indicator"></span>
      <span class="text">
        delete
      </span>
    </label>
  </div>
  <div class="wrapper">
    <input
      type="radio"
      name="radioButtonGroup"
      id="d"
      value="d"
    >
    <label for="d">
      <span class="indicator"></span>
      <span class="text">
        all of the above
      </span>
    </label>
  </div>
</div>
