<div class="checkbox-green-light-container">
  <input
    type="checkbox"
    id="checkboxGreenLight"
  >
  <label for="checkboxGreenLight">
    Checkbox Label
  </label>
</div>

<div class="checkbox-green-light-container">
  <input
    type="checkbox"
    id="checkboxGreenLightChecked"
    checked
  >
  <label for="checkboxGreenLightChecked">
    Checked Checkbox Label
  </label>
</div>

<div class="checkbox-green-light-container">
  <input
    type="checkbox"
    id="checkboxGreenLightDisabled"
    disabled
  >
  <label for="checkboxGreenLightDisabled">
    Disabled Checkbox Label
  </label>
</div>

<div class="checkbox-green-light-container">
  <input
    type="checkbox"
    id="checkboxGreenLightDisabledChecked"
    disabled
    checked
  >
  <label for="checkboxGreenLightDisabledChecked">
    Disabled & Checked Checkbox Label
  </label>
</div>
