<div class="checkbox-aqua-square-container">
  <input
    type="checkbox"
    id="checkboxAquaSquare"
  >
  <label for="checkboxAquaSquare">
    >
  </label>
</div>

<div class="checkbox-aqua-square-container">
  <input
    type="checkbox"
    id="checkboxAquaSquareChecked"
    checked
  >
  <label for="checkboxAquaSquareChecked">
    >
  </label>
</div>

<div class="checkbox-aqua-square-container">
  <input
    type="checkbox"
    id="checkboxAquaSquareDisabled"
    disabled
  >
  <label for="checkboxAquaSquareDisabled">
    <
  </label>
</div>

<div class="checkbox-aqua-square-container">
  <input
    type="checkbox"
    id="checkboxAquaSquareDisabledChecked"
    disabled
    checked
  >
  <label for="checkboxAquaSquareDisabledChecked">
    <
  </label>
</div>
