<div class="checkbox-aqua-circle-container">
  <input
    type="checkbox"
    id="checkboxAquaCircle">
  <label for="checkboxAquaCircle">
  </label>
</div>

<div class="checkbox-aqua-circle-container">
  <input
    type="checkbox"
    id="checkboxAquaCircleChecked"
    checked
  >
  <label for="checkboxAquaCircleChecked">
  </label>
</div>

<div class="checkbox-aqua-circle-container">
  <input
    type="checkbox"
    id="checkboxAquaCircleDisabled"
    disabled
  >
  <label for="checkboxAquaCircleDisabled">
  </label>
</div>

<div class="checkbox-aqua-circle-container">
  <input
    type="checkbox"
    id="checkboxAquaCircleDisabledChecked"
    disabled
    checked
  >
  <label for="checkboxAquaCircleDisabledChecked">
  </label>
</div>
