<div class="checkbox-aqua-rounded-container">
  <input
    type="checkbox"
    id="checkboxAquaRounded">
  <label for="checkboxAquaRounded">
    +
  </label>
</div>

<div class="checkbox-aqua-rounded-container">
  <input
    type="checkbox"
    id="checkboxAquaRoundedChecked"
    checked
  >
  <label for="checkboxAquaRoundedChecked">
    +
  </label>
</div>

<div class="checkbox-aqua-rounded-container">
  <input
    type="checkbox"
    id="checkboxAquaRoundedDisabled"
    disabled
  >
  <label for="checkboxAquaRoundedDisabled">
    +
  </label>
</div>

<div class="checkbox-aqua-rounded-container">
  <input
    type="checkbox"
    id="checkboxAquaRoundedDisabledChecked"
    disabled
    checked
  >
  <label for="checkboxAquaRoundedDisabledChecked">
    +
  </label>
</div>
