<div class="checkbox-blue-simple-container">
  <input
    type="checkbox"
    id="checkboxBlueSimple"
  >
  <label for="checkboxBlueSimple">
    Checkbox Label
  </label>
</div>

<div class="checkbox-blue-simple-container">
  <input
    type="checkbox"
    id="checkboxBlueSimpleChecked"
    checked
  >
  <label for="checkboxBlueSimpleChecked">
    Checked Checkbox Label
  </label>
</div>

<div class="checkbox-blue-simple-container">
  <input
    type="checkbox"
    id="checkboxBlueSimpleDisabled"
    disabled
  >
  <label for="checkboxBlueSimpleDisabled">
    Disabled Checkbox Label
  </label>
</div>

<div class="checkbox-blue-simple-container">
  <input
    type="checkbox"
    id="checkboxBlueSimpleDisabledChecked"
    disabled
    checked
  >
  <label for="checkboxBlueSimpleDisabledChecked">
    Disabled & Checked Checkbox Label
  </label>
</div>
