@import "global-variables";

:host {
  @include design-item-view;
  background-color: get-primary-color(50);
}

div.container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: -webkit-radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
  background: -moz-radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
  background: -o-radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
  background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
}
