@import "global-variables";

:host {
  @include design-item-view;
  flex-flow: row;
  justify-content: space-evenly;
  background-color: black;
}

div.container {
  @keyframes animate {
    0% {
      background-position: -500%;
    }

    100% {
      background-position: 500%;
    }
  }

  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, black, white, black);
  background-size: 80%;
  background-repeat: no-repeat;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.01);
}
