<div class="checkbox-dark-container">
  <input
    type="checkbox"
    id="checkboxDark">
  <label for="checkboxDark">
    Checkbox Label
  </label>
</div>

<div class="checkbox-dark-container">
  <input
    type="checkbox"
    id="checkboxDarkChecked"
    checked
  >
  <label for="checkboxDarkChecked">
    Checked Checkbox Label
  </label>
</div>

<div class="checkbox-dark-container">
  <input
    type="checkbox"
    id="checkboxDarkDisabled"
    disabled
  >
  <label for="checkboxDarkDisabled">
    Disabled Checkbox Label
  </label>
</div>

<div class="checkbox-dark-container">
  <input
    type="checkbox"
    id="checkboxDarkDisabledChecked"
    disabled
    checked
  >
  <label for="checkboxDarkDisabledChecked">
    Disabled & Checked Checkbox Label
  </label>
</div>
